@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment envObj

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Application Name : @envObj.ApplicationName</p>
</div>
